[2016-02-24 17:57] smooJitter opened #1 "error: react-native-swipe-cards not in the npm directory"
Thanks for the releasing this component. I suppose this hasn't been published.

[2016-02-25 16:57] yogiben commented on #1
May be a little unstable, but please try it out! https://www.npmjs.com/package/react-native-swipe-cards

[2016-02-25 21:44] yogiben commented on #1
https://www.npmjs.com/package/react-native-swipe-cards

[2016-02-25 21:44] #1 closed

[2016-02-27 20:19] piyushcoader opened #2 "variable contacts is not defined Contacts"
I think you forgot to initialize Contacts variable

[2016-02-29 09:25] yogiben commented on #2
Should be fixed.

[2016-02-29 09:25] #2 closed

[2016-03-02 06:26] faceyspacey opened #5 "stops working within other horizontal scrollview"
I'm using reactive swipe cards as a page within: https://github.com/brentvatne/react-native-scrollable-tab-view

That also uses horizontal swiping gestures. I'd like the card to respond to the gesture while denying the containing scrolling component from responding to it. The scrolling component would respond to it you drag anywhere on the page besides the card.

So I'm assuming this has something

[2016-03-02 16:53] yogiben commented on #5
Maybe you could put it in a modal or remove it from the scrollview somehow?

Maybe loop @brentvatne in

[2016-03-15 16:52] ryanthegiantlion commented on #5
The scrollable tab view has a 'locked' property which can be set to prevent scrolling. Setting locked to true in the grant method should solve the issue.

EDIT: FYI the issue is described [here](http://browniefed.com/blog/2015/10/10/react-native-pan-responder-inside-of-a-scrollview/).  The article talks about scrollview which it seems is what the scrollable tab view uses [internally](https://githu

[2016-03-15 17:00] TroySK opened #6 "Add Yes and No button"
Add api to trigger yes and no options from outside the component. I'm new to react native, all ideas are welcome!

[2016-03-22 20:47] fangwei716 opened #7 "PNG format Image in cards won't update"
I have implemented a similar example as example 2 but using PNG file. The image file updates with swipes if I use GIF but fails if using PNG image. It keeps showing the fist image.

My implementation is here:
https://github.com/fangwei716/30DaysOfReactNative/blob/master/view/day14.js

[2016-03-23 17:31] yogiben commented on #7
Weird. I'm afraid I haven't tried with PNGs yet.

[2016-03-30 16:04] agrass opened #8 "Android version"
Hello,

is supported in Android right?

Thanks

[2016-03-30 16:14] agrass commented on #8
Is supported..

[2016-03-30 16:14] #8 closed

[2016-04-07 05:53] felarof99 opened #9 "Does the latest version work?"
I installed through NPM (version 0.0.7) and tried to run example code, Tinder.js. But I get this error on both Android & iOS simulators.

Error: https://www.evernote.com/l/AZXmDKDCOHVG0bzatm6slaAg2dv1Yd88918

[2016-04-07 06:43] felarof99 commented on #9
Found this issue. I had to require default:

var SwipeCards = require('react-native-swipe-cards').default;

[2016-04-07 06:43] #9 closed

[2016-04-19 03:48] Naoto-Ida commented on #6
I second that idea. I'm actually currently working on it, might send a PR to the mods.

[2016-05-08 07:24] yarnball commented on #7
For me, this is the case with all images- PNG's, JPG's and .gif

[2016-05-10 03:49] Naoto-Ida commented on #7
Same here. Your pulling images remotely, correct?

[2016-05-11 02:34] Naoto-Ida commented on #7
So here's a workaround I found.

It seems that when `renderCard()` is called,
the Card component you specify isn't actually being reset.
Thats why you'll occasionally see the image getting stuck.
This might be ruining the "React-ness".

By giving each card a unique key, React will properly "reset" each card.

This is my renderCard function.

[code]

This is my Card.js.

[code]

The placeholder ima

[2016-05-11 03:01] fangwei716 commented on #7
@Naoto-Ida Thank you so much for helping out. Your solution fixed my issue. @yogiben You can close this issue now. Thank you.

[2016-05-11 09:23] Naoto-Ida commented on #7
No problem. I think it's a bit dirty, but I have a project I need to submit soon so it works as a temp fix.

[2016-05-11 10:54] yogiben commented on #7
Great. A PR would be awesome, even if it's just updating the examples.

On 11 May 2016 11:23, "Naoto Ida" notifications@github.com wrote:

[2016-05-12 01:58] Naoto-Ida commented on #7
@yogiben Alright, thanks. I'll try to submit it later.

[2016-05-12 03:02] Naoto-Ida commented on #7
@yogiben I'm not sure where to add it though, as this has to do with setting a key prop to the `Card` component, which is mainly outside the scope of this package.

[2016-05-19 23:54] onpaws opened #13 "Switch away and back breaks GIFs"
Encountered a curious glitch testing the [more complex sample](https://github.com/meteor-factory/react-native-tinder-swipe-cards/blob/master/README.md#more-complex-example) code on a real iPhone.

If I switch to a different iPhone app (using the standard app switcher) and switch back, the GIFs disappear. Seems like there's probably an underlying issue with React Native.

Posting here because I did

[2016-05-20 03:02] Naoto-Ida commented on #13
Are you referring to a situation where the app goes into the background and image disappear?

[2016-05-20 03:47] Naoto-Ida opened #14 "Triggering card animation with buttons"
I've managed to hook up buttons to the cards so that the cards progress,
but can't get animations to work.

Has anybody managed to trigger the swipe animation with buttons?

[2016-05-21 11:40] kn4rfy commented on #14
I managed to add buttons too. will update if I can get the animations to work.

I only managed to animate the next card to resize but not the swipe yet

[2016-05-21 16:01] kn4rfy commented on #14
I was able to trigger swipe animations using the code below but I can't show the next card after the animation. I would like to know how you will make it show.

Swipe left:

[code]

[2016-05-21 23:36] Naoto-Ida commented on #14
Thanks! I will try that out.

You just want to show the next card?

If you mean showing the next card under the current one, I did something like this:

[code]

If you mean triggering the animation, then progressing to the next card, I did this (thanks to your code):

[code]

Just add the `this._resetState.bind(this)` as a callback. Cheers.

[2016-05-22 01:24] Naoto-Ida commented on #14
I guess if we were to submit this as a pull request,
it have to be part of the main `SwipeCard.js` file?
Would love to hear your guy's opinions.
This is the first React Native project I feel like I can add stuff to.

[2016-05-22 01:31] kn4rfy commented on #14
Thanks to your code. I only add `this._resetState()` thats why it wont show next card.

Yes this would be part of the main `SwipeCard.js` along with the buttons

[2016-05-22 02:48] kn4rfy commented on #14
I have added a PR request but my buttons are not `Props` they are just hardcoded on `Swipecard.js`

[2016-05-23 00:58] Naoto-Ida commented on #14
Mmm, I think we should make them props so people can style them. I'll look into it a bit.

[2016-05-23 03:50] Naoto-Ida commented on #14
I've seen some libraries do something like this to allow external components:
(This is pulled from your commit)

[code]

Just a thought.

[2016-05-23 21:39] onpaws commented on #13
When I use the standard iOS app [switcher](http://www.takecontrolbooks.com/resources/0182/site/chap07.html) to switch out of my app and then back to my app, the image on the Card component disappears.

[2016-05-23 21:39] onpaws commented on #13
Wondering if this is a known issue

[2016-05-24 02:14] Naoto-Ida commented on #13
Is it only with a GIF?

[2016-05-24 02:36] kn4rfy commented on #14
I'll look into this

[2016-05-24 04:06] onpaws commented on #13
It's definitely affecting the GIFs for me, but not static images. I think it's related to render() optimizing things behind the scenes. Feels like we need to provide a key attribute to <Card> to fix

[2016-05-25 04:01] Naoto-Ida commented on #13
Checkout #7 for issue regarding key.

Gifs seem to act weird in Image components in general..

[2016-05-25 21:43] onpaws commented on #13
Thanks for the pointer.

While I'm not yet familiar with how RN handles native views, I think I know where to start looking.
If anyone has time to look into this, it seem like the right place to start looking is the connection between RCTImage, RCTBridge and the path it connects to the native view.

[2016-06-05 01:41] dcworldwide opened #18 "Please add collaborators"
This is a great lib, but PRs are not being merged (totally understandable, we all are busy). What are your thoughts on inviting collaborators?

[2016-06-25 01:35] hero3509268 opened #19 "Swiper Cards exactly same as Tinder"
Hello
I developed a social app within 2 weeks thanks to your awesome module.
But I am asked from client a problem.
Is it possible to make swiper cards exactly same as Tinder's?
You know in tinder, they show next cards below current card.

Waiting for your kind response

[2016-06-26 02:11] kn4rfy commented on #19
See how @fangwei716 did it https://github.com/meteor-factory/react-native-tinder-swipe-cards/issues/7

[2016-06-29 19:48] arronmabrey opened #20 "use git tags when releasing new versions"
It would be great to use git tags when releasing new versions to npm.

Examples
https://github.com/facebook/react/releases
https://github.com/facebook/react/tags

[2016-06-29 19:49] arronmabrey commented on #20
Currently there are no release tags. It's difficult to understand what verion of the codebase you're using.
https://github.com/meteor-factory/react-native-tinder-swipe-cards/releases
https://github.com/meteor-factory/react-native-tinder-swipe-cards/tags

[2016-07-07 17:58] dtdo-timfarley opened #21 "Update npm?"
Is it possible to have npm updated with the latest code here?  I'm getting an error when trying to use with the recent version of React Native, and it seems the error has already been fixed here with #15

For now, updating package.json to point to this repo is a workaround (http://stackoverflow.com/questions/16350673/depend-on-a-branch-or-tag-using-a-git-url-in-a-package-json) but would be nice to

[2016-07-12 09:13] arimado commented on #21
Thanks for the workaround!

[2016-07-15 20:43] angel3509268 opened #24 "Swiper Cards in Swiper"
I have two pages in swiper that has swiper cards in it.
And I can't swipe card to right on first page since it sends me to second page
Similar thing happens on second page also
Is there a way to solve this issue?

[2016-07-19 19:32] mkurapov opened #26 "Combining with onPress"
What would be the best way to combine an onPress handler for the component? I would like to add functionality where the card flips on press.

[2016-07-19 23:56] mkurapov commented on #26
Solved using [PanResponder](https://facebook.github.io/react-native/docs/panresponder.html).

onPanResponderRelease, use the gestureState parameter's dx and dy values to check if just a tap was made:

[code]

This would would be easiest by using the original [repo](https://github.com/brentvatne/react-native-animated-demo-tinder) for implementation.

[2016-07-19 23:56] #26 closed

[2016-07-24 16:57] amitneeman opened #28 "react native 29.0 and onwards support"
Looks like the swiping functionality is broken from 29.0 (at least) and onwards.
Swiping left works fine but when you try to swipe right, the card goes up. tested on an iphone 6s emulator with react native 29.0

[2016-07-30 04:30] Nyte7 commented on #21
I changed my package.json to reflect version 0.0.8 but I cannot use npm install with it.

[2016-07-30 17:54] sudhansusingh22 opened #30 "Importing 'SwipeCards` throws error."
Trying to import `SwipeCards` in my module:
`import SwipeCards from 'react-native-swipe-cards';`
And it throws the following error:
`Super expression must either be null or a function, not undefined
2016-07-30 13:51:28.698 [fatal][tid:com.facebook.react.RCTExceptionsManagerQueue] Unhandled JS Exception: Super expression must either be null or a function, not undefined
`

[2016-08-16 13:47] Moussawi7 opened #33 "Missing comma line 64"
First, thank you for this plugin.
you may add the missing comma
https://github.com/meteor-factory/react-native-tinder-swipe-cards/blob/master/SwipeCards.js#L63
Thank you.

[2016-08-17 06:25] #33 closed

[2016-08-19 00:45] davidpaulmcintyre opened #36 "Unexpected token error, line 62"
SwipeCards.js has error.  Line 63 should have comma at end of line

[2016-08-24 04:29] vincentschen opened #37 "Using Navigator routes in a SwipeCard?"
`this.props.navigator` is undefined when trying to access it via View elements in the SwipeCard.

Any thoughts on how to pass it through the right scope?

[2016-08-24 05:39] vincentschen commented on #37
Found a workaround! For those who are curious:

Need to pass navigator to the lower level scope when instantiating cards.
`renderCard = {(cardData) => <Card {...cardData} navigator={this.props.navigator}/>}`

[2016-08-24 05:39] #37 closed

[2016-09-05 06:24] helloworld3q3q opened #38 "I need to go next and go previous"
I need to go next  and go previous  , So  change your code like this  in   _goToNextCard  method
_goToNextCard (direction ){
.........
.......
 direction ? newIdx = currentCardIdx + 1 : prev < 0
      ? newIdx = len : newIdx = prev;

    // Checks to see if last card.
    // If props.loop=true, will start again from the first card.
    let card = newIdx > len
      ? this.props.loop ? this.props.c

[2016-09-29 20:48] maluramichael opened #39 "When you call a redux action on handle[Yup|Nope] you won't get new cards"
I realised when i save the yupped card via a redux action i get always the same card. This is because of the `componentWillReceiveProps` method. This method does not check if nextProps.cards are the same as this.props.cards.

I fixed this by updating the method like this:

[code]

[2016-10-03 15:44] maluramichael commented on #39
https://github.com/maluramichael/react-native-tinder-swipe-cards/commit/7f327db28ed6de6b550298b0bea121072f5a4bde Will fix this

[2016-10-09 09:06] tonypee commented on #39
Would be good to fix - i just ran into this ;P

[2016-10-18 15:14] JakeRuth commented on #28
It's working fine for me on RN 0.33.0

[2016-11-17 23:15] budda opened #42 "SwipeCards.js Unexpected token (164:6)"
npm version results in a compile failure.

[code]

[2016-11-19 06:08] indivisable commented on #5
Ever figure this out? I am trying to put this inside a Vertical Scroll View and it does not seem to like, going to see if I can stop the touch events from propagating.

[2016-11-19 06:37] ryanthegiantlion commented on #5
So I have seemed to have misplaced the code but I built a prototype using the method I mentioned above. Here is the outcome . . .

![demo](https://cloud.githubusercontent.com/assets/1843898/20453597/fa80eed2-ae6d-11e6-953b-4174fe3410d2.gif)

[2016-11-19 06:53] indivisable commented on #5
So you lock and unlock the ScrollView when the PanResponder in SwipeCard.js?

[2016-11-19 07:45] ryanthegiantlion commented on #5
Actually I used https://github.com/Ryanthegiantlion/react-native-tinder-swipe but the code is similar. But yes, that is how I did it. In the panresponder I set a locked state on the component to true and passed that down as a prop to the scrollview.

[2016-11-20 02:10] indivisable commented on #5
Thanks Ryan,

Ended up passing down a callback to be called

[code]

Here is the callback:

[code]

Also I Found an alternative solution, this works great I may move to this:  **(Ended up using this)** https://github.com/mjracca/react-native-scroll-block

[2016-11-20 05:16] ryanthegiantlion commented on #5
Guess the issue can be closed then . . .

[2016-12-02 10:35] indivisable opened #46 "Delay when getting Next Card"
Does anyone else get a small delay on input when trying to swipe fast through cards? It seems there is a delay from when old card is moved to when new one initializes the pan responder. Any ideas? I am thinking we may want to use a parallel animation sequence to assure the next card is ready to go before the old one goes out of view.  I am using the Stack PR version but does same on both: https://

[2016-12-12 09:21] MadeInMoon commented on #6
Any advancements gentlemen?

[2016-12-12 09:53] MadeInMoon commented on #46
+1

[2016-12-12 12:00] MadeInMoon commented on #42
I guess this error points the jsx expression `<Defaults.NoMoreCards />`at line 164, so it should be a config problem (jsx loader?).
How did you initiate your project?

At least try a create a new project by cli with `react-native init`, and look the **.babelrc**, it should contain
`{
"presets": ["react-native"]
}`

[2016-12-13 00:05] indivisable commented on #46
@MadeInMoon are you using the Stack Version?

[2016-12-13 02:26] Naoto-Ida commented on #6
I made some modifications to the library and released it with [this app](https://itunes.apple.com/us/app/fuji-rock-festival-16-app/id1112045623) where you vote on artists with a Tinder-like interface. If you like it, I could look into doing a fork of the latest build and modifying it so it is generic.

[2016-12-13 15:32] vitorebatista commented on #6
It'll be great a PR @Naoto-Ida :)

[2016-12-13 19:01] MadeInMoon commented on #46
@indivisable no I'm on the master, and it happens even when I swipe normally, with remote images and local imges > 2mo.

Each card could have a **placeholder-loader** view until the image is loaded. It should be easy to implement.

[2016-12-14 02:01] Naoto-Ida commented on #6
OK, I'll try and get something out this week.

[2016-12-20 11:18] blackavec commented on #18
i'm agree with you too. but i think it's not going to happen, my suggestion is to make PR a a fork repository from this, and call this deprecated until the owner merge them.

[2016-12-20 18:57] vitorebatista commented on #18
Some PR has conflicts that must be resolved. 😞
Thanks @jjoe64 whom made a great job in #47

[2016-12-20 18:57] #18 closed

[2016-12-20 19:00] vitorebatista commented on #42
@budda could you test with the last merged PR #47 ?

[2016-12-20 19:00] #42 closed

[2016-12-20 19:00] vitorebatista commented on #36
@davidpaulmcintyre could you test with the last merged PR #47  ?

[2016-12-20 19:00] #36 closed

[2016-12-20 19:01] vitorebatista commented on #28
@amitneeman  could you test with the last merged PR #47  ?

[2016-12-20 19:01] #28 closed

[2016-12-20 19:01] vitorebatista commented on #30
@sudhansusingh22  could you test with the last merged PR #47  ?

[2016-12-20 19:01] #30 closed

[2016-12-20 19:02] vitorebatista commented on #46
@indivisable  could you test with the last merged PR #47  ?

[2016-12-20 19:02] #46 closed

[2016-12-20 22:18] amitneeman commented on #28
Hi ive been taking some time off the project for work, will do my best to
test it asap!
בתאריך יום ג׳, 20 בדצמ׳ 2016 ב-21:01 מאת Vitor Emanuel Batista <
notifications@github.com>:

[2016-12-29 17:25] razvan-paul opened #48 "Lazy load from API"
I'm using this library and, thank you, it's awesome!

Still, I've got a problem. I can't make it to work with an API which loads the images 5 by 5 at a time. I've tried to make the request in the noMore function (which is called when there are no more cards to display), but when the request is finished and the data is loaded again, the SwipeCards view become white/ invisible.

Is there any other r

[2017-01-12 10:58] Colmea commented on #21
+1

Please update NPM repository :)

[2017-01-16 09:23] Colmea opened #51 "Get current card ID"
Hi,

First, thanks for your awesome plugin !

I'm making a tinder-like app, with swipe and buttons features ("like" and "dislike" buttons). So I use the new _forceRightSwipe() and _forceLeftSwipe() methods when user click on 'like' and 'dislike' buttons.

But I don't know how to access the current card ID from my parent component ?
Is there a way to access the current card ? The current workaround

[2017-01-17 12:29] #51 closed

[2017-01-19 16:35] EQuimper commented on #39
+1 @maluramichael that help my case too thank you

[2017-01-19 22:48] Colmea opened #53 "Container style prop not working"
Hi,

The `containerStyle` is not working (actually it's not even in the source code. Only a `style` prop, but never used). https://github.com/meteor-factory/react-native-tinder-swipe-cards/blob/master/SwipeCards.js#L103

Would you accept a PR with this new prop ?
Should we use the `style` prop (already there, but need an update in the doc) or `containerStyle` (update in source code but no update i

[2017-01-25 17:21] yogiben commented on #21
Updated!

[2017-01-25 17:21] #21 closed

[2017-01-26 18:10] EyesBear opened #55 "Error while updateing property 'transform' of a view managed by:RCTView?"
I got this error when trying to use the sample code to swipe, the images are also nor displaying on my emulator, only a blank card?

Edit: It works on iOS.
Edit2: Apparently the commit on Dec 20th, 2016 made it not working for me on Android (https://github.com/meteor-factory/react-native-tinder-swipe-cards/commit/580425d9ae42cdbd2cf83c70e535d4f896dc8ed9#diff-92a3834b964b25cc4dcba7a0d84e2b87). Ever

[2017-01-26 19:25] fmsouza commented on #24
I'm also having this issue using this component inside a `ScrollableTabView` component.

[2017-01-31 07:05] jellekralt commented on #39
@maluramichael Nice fix, would you mind submitting a PR of that fix?

[2017-01-31 07:23] maluramichael commented on #39
@jellekralt @abrarmusa already fixed this in this refactor commit https://github.com/meteor-factory/react-native-tinder-swipe-cards/commit/7d4f33444bf2701cac1e197327c7cea7d9d4d869#diff-92a3834b964b25cc4dcba7a0d84e2b87R244

[2017-02-02 05:43] DmsChrisPena opened #57 "Card gets stuck whenever you drag it and your thumb slides off the screen."
So I have essentially the exact same code as the example. It works perfect unless your thumb goes off the screen at the left or right edge of the phone while swiping. I'm not sure if anyone else has experienced something similar and if so how did you fix it.

(Video example)[https://youtu.be/1fsu4KaKfO4]

[2017-02-10 18:34] mihaben commented on #55
Same problem here (Android), I coudn´t fix it reverting the commit, for me seems an important bug... 😞

[2017-02-12 02:16] helloncanella commented on #6
Any update?

[2017-02-12 08:48] iamgbsmith commented on #7
I had the same problem loading PNG and JPG images when running from command line using react-native run-ios simulator so I decided to try running it through Xcode.

When launching from Xcode, I could see an error loading PNG and JPG resources over HTTP so it has nothing to do with the file type. Xcode takes a cautionary approach and will only allow loading of resources over HTTPS by default. This

[2017-02-13 01:20] vitorebatista commented on #6
It's possible to use `refs` to trigger the options `yup` and `nope`.
You can check in this repo:
https://github.com/VctrySam/Tinder/blob/master/App/components/home.js#L114

Tip: use `_forceLeftSwipe` and `_forceRightSwipe` instead of `_goToNextCard`

[2017-02-15 01:56] #6 closed

[2017-02-15 05:21] Naoto-Ida commented on #6
Sorry guys, haven't had time to commit this and it was done when I just started with RN so it's very sloppy.
I had difficulty isolating the buttons from the lib as it was rendered inside of the card container...
I think @vitorebatista's approach is better.

[2017-02-16 07:15] siraj94farhan commented on #55
In the line number 159, vx is sometimes returning 0 that results in undefined value of velocity. Handling that would fix the issue.

It tried this `if (Math.abs(this.state.pan.x._value) > SWIPE_THRESHOLD && vx !== 0)` condition with additional ` vx!==0 `

[2017-02-16 10:15] vitorebatista commented on #55
@siraj94farhan could you create a PR ?

[2017-02-16 12:40] siraj94farhan commented on #55
Sure @vitorebatista

[2017-02-16 20:57] botsbuzz opened #60 "Ref for a single Card"
How to add a Ref on each Card?

[2017-02-17 09:00] mxmtsk commented on #48
@razvanpaul did you find a solution for this? I'm trying to achieve the same

[2017-02-18 22:09] #55 closed

[2017-02-18 22:09] vitorebatista commented on #55
Thanks @siraj94farhan !

[2017-02-21 22:22] juergengunz commented on #48
+1

[2017-02-22 09:16] blaziken105 opened #62 "Handling button clicks within card SwipeCards component"
I have created multiple buttons within the SwipeCards component when I try to click on them to trigger the onPress listener on the onClickHandler of the SwiperCards is called which shows the default alert. I have been able to override the onClickHandler in the main class as shown below (method: handleIt()) so whenever I click anywhere in the card it shows the modal. However I also have other butto

[2017-02-22 16:21] juergengunz commented on #48
@razvanpaul  could you send me an example on how you load your cards via api?

[2017-02-22 19:38] juergengunz commented on #57
yes unfortunately I have the same exact issue and it ruins this cool swiper :(

[2017-02-23 21:02] juergengunz commented on #57
On iOS the App freezes and on Android the app crashed with following error:
<img width="473" alt="bildschirmfoto 2017-02-23 um 21 59 01" src="https://cloud.githubusercontent.com/assets/12918614/23278965/bbcf2ebe-fa13-11e6-9d4f-9e7ec945fafe.png">

[2017-02-23 21:55] juergengunz commented on #57
this fixes it https://github.com/meteor-factory/react-native-tinder-swipe-cards/pull/59/files

[2017-02-24 19:25] juergengunz commented on #19
@hero3509268  did you find a proper solution?

[2017-02-25 10:24] juergengunz opened #63 "Cards underneath and animation"
Is it possible to have the next card already behind the current? And also remove the zoom-in effekt?
Would be cool if someone could help out as I am new to react native :)

[2017-03-02 15:09] mxmtsk opened #65 "Touchable within Card does not work"
In my Card I have a `TocuhableOpacity` Element that does not work. Instead the onClickHandler of the Swiper get's called

[2017-03-04 15:26] lolobosse commented on #53
+1

[2017-03-04 20:40] lolobosse opened #66 "Place a vertical stack in the middle of the screen"
Hi there,

I'm testing this library and I'm having a lot of fun. 👍 👍

However, I'm stuck with a dumb problem: how can I put the stack in the middle of the container?

From what I saw we have `stackOffsetX` and `stackOffsetY` but they're actually not only doing what they're meant to do because they also define where the first card will be placed:

If I tell: `stackOffsetX` = `0` and `stackOffsetY`

[2017-03-04 20:48] lolobosse commented on #63
Have a look at my PR

[2017-03-04 20:49] lolobosse commented on #57
It needs to be released to NPM right?

[2017-03-05 01:16] stantoncbradley commented on #65
does your version have
[code]

that should ignore taps.  is your component nesting inside any other views?  like a ScrollView?

[2017-03-05 01:19] stantoncbradley opened #68 "add prop to specify index"
I need to be able to dynamically select which card to show

[2017-03-07 19:36] bluday commented on #63
@lolobosse I don't follow, have you implemented this feature or not? I'm new to GitHub, I don't understand the system completely...

[2017-03-10 02:18] esganzerla opened #72 "Updating function names"
Hello,

I made a few pull requests because I'm using this component on a project and thought that we could set a better organization by defining some function names differently.

Some suggestions:
- `renderYup` to `renderSwipedRight`
- `renderNope` to `renderSwipedLeft`
- `renderMaybe` to `renderSwipedUp` (based on a PR #70)

- `handleYup` to `onSwipeRight`
- `handleNope` to `onSwipeLeft`
- `handl

[2017-03-10 02:39] esganzerla commented on #72
By the way, I forgot to say...

I'm using the `maybe` option (#70) because on my project it's exactly that name, but the new swipe up action is actually present on Tinder now as super like. So I guess any action might have a different purpose for each project.

[2017-03-10 20:43] itsdevcoffee commented on #57
Thanks so much man. Worked like a charm.

[2017-03-11 23:06] hobbyexplorer commented on #48
+1

[2017-03-11 23:24] magevadi opened #73 "Infinite cards"
If we update the state variable now with new set of cards,
The index goes back to 0 again.
There should be a way to continue on without resetting the index to 0 when new set of cards are loaded.

[2017-03-12 17:23] Kris4an7 opened #74 "Is vertical a possibility ?"
Hello,
I am sorry if it's a stupid question, but I am fairly new to React Native. Is it possible to make this library work vertically. I don't need the images to move at all if a go left or right, but I want a swipe up to go to the next card and a swipe down to return to the previous card. I have around 10 images that need to rotate this way.

Thank you !

[2017-03-15 14:56] lolobosse commented on #63
@BluDay the feature was already but not documented

So yes if you follow the readme, you should have it.

[2017-03-15 14:57] lolobosse commented on #63
@BluDay
Here:

// If you want a stack of cards instead of one-per-one view, activate stack mode
// stack={true}

[2017-03-23 22:49] brendanscarano opened #76 "yupView/noView components not rendering"
I'm trying to override the yupView and noView in my code to make them custom from the "Yup!" and "Nope!" blocks that show by default.

My code below doesn't override the "Yup!" component like anticipated:
`export default React.createClass({
  getInitialState() {
    return {
      cards: Cards
    }
  },
  handleYup (card) {
    console.log(`Yup for ${card.text}`)
  },
  handleNope (card) {
    co

[2017-03-24 12:09] mxmtsk commented on #65
@stantoncbradley thank you very much :) this worked

[2017-03-24 12:09] #65 closed

[2017-03-25 12:40] brendanscarano commented on #76
Added PR here:
https://github.com/meteor-factory/react-native-tinder-swipe-cards/pull/77

[2017-03-30 23:39] obykoo opened #78 "handleYup/handleNope is not triggering with _forceLeftSwipe() or _forceRightSwipe()"
Just as title says, there is no callback to handle when manually triggering left or right swipe.

[2017-04-06 01:06] jlc467 commented on #62
If you want buttons within a card to respond to presses, setting `onStartShouldSetPanResponderCapture` to return false if there was no drag seems to work. See below.

[code]

To be clear, this would require you to fork and make the edit yourself on this library. `onStartShouldSetPanResponderCapture` does call onDragStart which can be passed as a prop, but it does not get the gestureState to calcul

[2017-04-08 14:05] alexprodev opened #81 "Swipe slowly to the right, then it occurs bug - unrecognized selector sent to instance..."
I used this swipe-cards plugin for my project but I can see the critical bug here.
![simulator screen shot apr 8 2017 5 04 31 pm](https://cloud.githubusercontent.com/assets/9720612/24829589/71a6bdf2-1c7d-11e7-805e-220710b3d22c.png)

When I was moving slowly to the right with the card then I can see the critical error screen is occurred.

So Is there anyone who can help me with this problem?

[2017-04-10 04:14] robindiddams commented on #60
if you put a ref on the component that you render as a card then it will show up as a child of refs within the Swipecards' ref. Not sure if theres a way to get a separate ref for each card, especially since I think its all the same card, just given different props and updated on each swipe, no unmount or willmount.

[2017-04-12 07:21] #81 closed

[2017-04-12 22:14] ramadis opened #82 "Fixed card"
Hey! Amazing work on this awesome module!

I was wondering if there was a "fixed" (as in no-swipeable) card feature soon to be realeased, or in your roadmap. Maybe the fixed card interface could be just adding a property to the card object, dismissable with a callback function.

Are you accepting PRs?

[2017-04-14 10:26] neyaoz commented on #72
@esganzerla I agree with you. We are using this plugin to present a list in swipe card format. For example, "Maybe" direction is going to be used as details, and it is not semantic. It is an amazing plugin, let's make it universal.

[2017-04-17 22:39] KTamas opened #84 "Stack render broken?"
I am not sure what I am doing wrong.

Without stack, looking good:
![2017-04-18 00 34 12](https://cloud.githubusercontent.com/assets/48946/25107403/746b2d30-23cf-11e7-8df9-73e4d29fb839.png)

With stack, all messed up:
![2017-04-18 00 36 32](https://cloud.githubusercontent.com/assets/48946/25107410/79171498-23cf-11e7-8f16-3ce4efb73df8.png)

Code is at https://github.com/KTamas/imdbinder/blob/master

[2017-04-17 23:49] esganzerla commented on #84
I'm not really sure why the `renderStack` function had these values inside, so I'm not making a PR, but I found that if you change the lines 331-335 (SwipeCards.js) to:

[code]

it was originally:
[code]

I believe it will work just fine. still scaling as well

[2017-04-18 07:02] sarahkadar commented on #84
@esganzerla thanks, this fixes it! sort of. don't look very stack-ey anymore.

Though now I have yep/nope shown somehow reversed... and maybe is simply not working...

[2017-04-26 20:10] gustatom opened #85 "Flex inside card seems not to work"
Simple example, this view renders so that it takes all available space horisontally and vertically:
[code]

But, when same code is used inside Swipecard, it takes all the space vertically and only narrow space horizontally.

Is there another way to make the card take all the space it has horizontally?

[2017-04-27 01:57] pbassut commented on #81
Same issue here. Did you manage to fix it @alexprodev ?

[2017-04-27 02:36] pbassut commented on #84
@esganzerla That's exactly what gives the stacky look of it. Every card available gets slightly shifted  to the lower-right.

[2017-04-27 07:36] sarahkadar commented on #84
I figured out what I messed up: some default styles of create-react-native-app mess with it. so completely my fault.

[2017-04-27 13:51] pbassut commented on #84
@KTamas mind sharing what that was?

[2017-04-28 20:28] sarahkadar commented on #84
the default [CRNA](https://github.com/react-community/create-react-native-app) `App.js` has this:

[code]

`alignItems: center` and `justifyContent: center` messes up `react-native-tinder-swipe-cards`.

[2017-04-28 20:45] pbassut commented on #84
Right. I'm not using CRNA tho.

[2017-04-28 20:53] sarahkadar commented on #84
Yeah. The default app.js add this style to the main container and that breaks things so it's not really a CRNA but more like a stylesheet issue I guess.

[2017-05-02 15:49] YannzizTay commented on #84
@KTamas you need to set the stackOffsetX and you will be good  try out stackOffsetX={2}

[2017-05-02 21:41] mxmtsk opened #86 "Android: Padding around component, cards disappear"
I have a View with a padding around my Swiper Component. In Android when swipping the cards disappear as if the swiper component would have `overflow: hidden`

[code]

![androidscreen](https://cloud.githubusercontent.com/assets/4848184/25640698/da7a52c8-2f90-11e7-9fb4-c8ee081a1527.png)

[2017-05-06 03:43] brendanscarano opened #87 "Screen breaks when letting card go halfway off screen"
When swiping the card left or right, and letting go of the card when it's about halfway off the screen I'm getting the following issue...

<img width="375" alt="screen shot 2017-05-05 at 11 36 46 pm" src="https://cloud.githubusercontent.com/assets/6002060/25769599/bc63c6c2-31eb-11e7-8625-fcfc7b912bb4.png">

[2017-05-08 07:58] luchoster commented on #53
+1

[2017-05-08 19:09] derekbrown commented on #57
@vitorebatista Is the fix for this being released to NPM soon?

[2017-05-09 20:45] luchoster opened #88 "Prevent the alert on tap"
Is there a way to prevent the card to display the alert, on tap?
I don't want it to do anything.

thanks

[2017-05-11 16:20] designorant commented on #88
Assuming you're using the [Quick Start Example](https://github.com/meteor-factory/react-native-tinder-swipe-cards#quick-start) just remove your `handleMaybe` prop and its corresponding function.

[2017-05-11 18:22] luchoster commented on #88
Thanks @designorant , but that doesn't work, since I don't have a handleMaybe prop.
I did figure it out yesterday, after I went to look at the code.
[code]
it has a onClickHandler prop, that you can pass a function to. The default it's an alert. I think that should be fixed to be empty or at least include that prop in the docs.

[2017-05-11 18:37] #88 closed

[2017-05-12 18:22] ossamaweb commented on #86
+1

[2017-05-16 02:51] otech47 opened #89 "Memory leaks with multiple SwipeCards components"
I have two different component scenes in my App.js (using react-native-router-flux) and they both import and use two separate instances of the SwipeCards component. I can use one of the components (_HomePage_) no problem and swipe away on as many items as I need.

However I noticed an issue when navigating to the 2nd component (_CurationPage_) with another SwipeCards instance. Swiping on this 2nd

[2017-05-16 11:06] xiaoao opened #90 "Error while updating property 'transform' of a view managed by: RCTView"
"react": "16.0.0-alpha.6",
"react-native": "0.43.4",
"react-native-swipe-cards": "^0.1.0",
"react-navigation": "^1.0.0-beta.9",

const App = TabNavigator({
  Home: {
    screen: HomeSreen,
  },
  Other: {
    screen: OtherScreen,
  },

HomeSreen.js

<Tinderjs />

...

Error while updating property 'transform' of a view managed by: RCTView
updateViewProp
    ViewManagersPropertyCache.java:90
setPro

[2017-05-17 08:26] sasasim opened #92 "A good example with shadow effect is here"
https://github.com/sasasim/Quotes

[2017-05-18 23:22] cameres commented on #90
Ran across this issue to which is present in release version 0.1.0 when used with Android. It was fixed in PR https://github.com/meteor-factory/react-native-tinder-swipe-cards/pull/61. @vitorebatista is there any way that we can bump the version on npm, as the install instructions are still `npm install --save react-native-swipe-cards`?

[2017-05-30 14:09] starchand opened #93 "Npm is outdated"
`npm install --save react-native-swipe-cards ` is installing outdated version of the code.

[2017-06-18 16:58] adamatuno commented on #93
+1

[2017-06-19 02:01] chengscott commented on #93
+1
I face the same problem as issue #90, and @cameres points out it was fixed in PR #61.
I think the best is to update the npm package

[2017-06-20 12:21] maxaleks opened #94 "Bug: pressing the component in the card doesn't work"
When you add some button in the card component the pressing this button doesn't work

[2017-07-13 21:15] acesetmatch opened #97 "Swipe Cards method renderCard(cardData) fails when Object is passed as prop."
<SwipeCards
        cards={this.state.cards}
        loop={true}
        renderCard={(cardData) => <Card key={cardData.id.toString()} {...cardData}/>}

This.state.cards is an array with an array of objects as one of the elements. However, whenever I pass this array of objects as a prop to my Card component, the app crashes.

How do I pass in an array of objects as a prop into my card component?

[2017-07-14 05:14] intell-gent commented on #87
having the same issue seems to happen more when you hold the card over the yep or nope. It seems to be causing a memory leak due to the 2 different UI  elements colliding.

[2017-07-14 11:54] esganzerla commented on #97
Can you show us your render function and the error the app is showing?

[2017-07-14 16:28] brendanscarano commented on #87
@intell-gent I was able to fix the issue by making a local copy of the SwipeCards.js file and changing the code a bit. I added a default SWIPE_THRESHOLD, and VX_THRESHOLD. In the `onPanResponderRelease` function, I added the following check to see if the card swipe gesture was less than the SWIPE_THRESHOLD and VX_THRESHOLD.
[code]
If it is less than both of these, the app would break, however with

[2017-07-16 18:39] SteveEmmerich commented on #93
Is there any chance this can be updated soon? I am currently using this package in a lynda.com course, and with the error in issue #90 I will need to replace it (which I really don't want to do).

[2017-07-17 10:09] designorant commented on #93
There’s a couple of unsolved issues and opened PRs here, some conflicting with each other so it's more than just keeping it updated on NPM. I reached out to @yogiben offering some help a while ago but haven't heard anything.

For now you can either install the most up to date version straight from the source (`npm install https://github.com/meteor-factory/react-native-tinder-swipe-cards`) but bear

[2017-07-17 16:07] xcxooxl opened #99 "dont render cards before user swipes?"
I use "react-native-auto-typing-text"
it's for typing text automatically, the problem is that when I put it inside cards
it activates it's to all the cards in the same time.

So it seems to be working for the first card, But when you swipe left you actually see that all the other cards
already finished writing.. so it kinda loses the effect..

is there a callback I could use when a new card is abo

[2017-07-18 19:16] appsciences opened #100 "Button on card does not work on iPhone 7"
Hello,

I have a button on the card that does not respond to onPress on iPhone 7 only. Code:

import React from 'react';
    import { Alert, TouchableWithoutFeedback, StyleSheet, Text, View } from 'react-native';
    import SwipeCards from 'react-native-swipe-cards';

    export default class App extends React.Component {
      render() {
        return (
          <View style={styles.container}>

[2017-07-22 18:37] jkomyno commented on #100
Same for me on Android 7

[2017-07-24 04:57] ahmedabadie opened #101 "Maybe view transforms to Yup or Nope."
When swiping up, the `Maybe` view is displayed properly, however, when the action is performed (i.e. the card is actually swiped up) the `Yup` or `Nope` view is displayed afterwards. The action itself is correct as `handleMaybe` is successfully called.

This glitch can be viewed in the gif file available on `README`: https://raw.githubusercontent.com/meteor-factory/react-native-tinder-swipe-cards/

[2017-08-03 23:36] AlmogRnD opened #102 "Is this project still alive?"
Is this project still alive?

[2017-08-04 18:20] designorant commented on #102
I'd say [no, it isn't](https://github.com/meteor-factory/react-native-tinder-swipe-cards/issues/93#issuecomment-315715467).

There's a number of issues to sort out, maintenance being one of them.

You may want to check [react-native-deck-swiper](https://github.com/alexbrillant/react-native-deck-swiper) – it seems to be actively developed.

[2017-08-07 15:06] ekohn8 commented on #87
This worked for me

[2017-08-08 17:37] luyx2412 commented on #86
+1

[2017-08-10 09:51] lyudad commented on #53
+1

[2017-08-14 03:32] manster829 commented on #102
hey @designorant Ive been working pretty hard on a project using this package, how dangerous is it to continue development on said project given that react-native-tinder-swipe-cards is 'dead'..?

[2017-08-21 23:46] ellismarte opened #104 "how to add / handle buttons"
Hey, so on Tinder they have 4+ buttons on each card that has a specific function, 2 of them being like and dislike, im trying to add that to my screen but i don't know how i'd call handleYup or handleNope ... any ideas on how I could add buttons and then when a button is clicked transition to the next card?

[2017-08-22 00:12] ellismarte commented on #104
currently using _forceLeftSwipe and _forceRightSwipe

[2017-08-24 12:36] beynar commented on #68
hello!  did you fine how to perform that ? I really need that feature too  😄

[2017-08-24 17:18] stantoncbradley commented on #68
I did, I made some changes to the lib to support this... unfortunately I made the changes directly in my project's node_modules directory.  When I reset my modules I lost the changes :,(

[2017-08-28 17:49] #104 closed

[2017-08-28 17:50] ellismarte opened #105 "disable swipe"
I've added a carousel feature to my card so that when the user clicks on the card it goes into this deatails view so a user can swipe through more pictures (just how tinder works) but i need to be able to disable swipe on the card so that a user can look through the images ... is there an easy way to do this as of now?

[2017-09-03 22:18] ErkanSensei commented on #105
You can either fork the repo or copy paste the code into your own file, and from there add a prop that disables the x axis swipe the way the y axis one is already implemented.

[2017-10-04 20:41] 1mike12 opened #106 "Crashes on react native ^0.49.1"
I get

[code]

[2017-10-07 08:30] e6a5 commented on #106
I have the same problem as you
`undefined is  not an object (evaluating '_react3.default.Proptypes.arrray)`

then I fixed this problem here https://reactjs.org/blog/2017/04/07/react-v15.5.0.html

[2017-10-07 14:41] 1mike12 commented on #106
Not sure how I fixed this, but probably blowing away node_modules would work and re-installing. @tranhiepqna what specifically fixed the problem? By upgrading to react 15.5?

[2017-10-08 21:50] ellismarte opened #107 "swipe sensitivity"
is there a way to increase the sensitivity of swiping so that the user doesn't have to swipe so far?

also how can i load the next image so that there isn't a lag when the user swipes?

[2017-10-08 22:24] ellismarte commented on #107
for anyone reading this:
decrease SWIPE_THRESHOLD to increase sensitivity

set stack to true to load the next images

[2017-10-11 17:14] ignaciosantise commented on #106
@tranhiepqna @1mike12  I solved it in this Pull Request! check it out! I dont know if this project is still maintained, if not, you could fork it and make the change in your own 😄  Hope it helps!

Im using it in React Native 0.49.1

PR: https://github.com/meteor-factory/react-native-tinder-swipe-cards/pull/108

[2017-10-13 10:30] roots-ai commented on #101
Were you able to resolve this?

[2017-10-13 10:35] roots-ai commented on #78
Were you able to find a way across this?

[2017-10-13 10:54] roots-ai commented on #38
Were you able to solve this?

[2017-10-13 13:00] juananime commented on #106
I could find the way to make it work in RN 0.49+.
From RN 0.49 the object PropTypes belong to prop-types instead of React.
Just import the porper package
import PropTypes from 'prop-types';

And replace all the static propTypes:
Instead of React.PropTypes is PropTypes
So in SwipeCard.js locate
static propTypes = {
    cards: React.PropTypes.array, ...
}
and change it for:

 static propTypes = {

[2017-10-13 16:38] ellismarte opened #109 "stack view glitchy"
Hi so I'm using the stack view because I don't want there to be a lag when a user swipes and the next photo loads.

Right now when a user swipes left or right there's this weird glitch where the previous photo appears for a split second on top of the new card. Has anyone seen this and or know why this is happening / how to fix it?

Here's a gif:
![alt text](https://s3-us-west-2.amazonaws.com/ellis

[2017-10-14 04:32] ahmdx commented on #101
I had a workaround. I used smoothTransition={true}. I cannot remember if only this fixed it, but you can give it a try!

[2017-10-16 04:41] roots-ai commented on #107
Are you able to swipe the card while moving the card entirely horizontally?. In my cases there are navbars and they are instead getting swiped.

[2017-10-19 16:27] ellismarte commented on #107
umm i think so yes. look at the issue i just opened about stack being glitchy to see me swiping

[2017-10-31 09:13] hstemplewski commented on #6
@vitorebatista yes you right, but what if someone wants to animate card and trigger yup/nope function ?

[2017-11-06 23:52] ellismarte commented on #109
it's because i was using Fitimage instead of Image in the card

[2017-11-08 11:59] asgvard commented on #86
Android doesn't have overflow: visible at all. When your card is rendered, it's wrapped into Animated component that cuts everything that overflows it.
https://facebook.github.io/react-native/docs/layout-props.html#overflow

[2017-11-19 19:23] kay-es opened #112 "Reset cards"
Hey,
is it possible to reset the cards?
Couldn't find any solution within the code

regards
kay

[2017-11-23 17:48] ruskid opened #115 "When merging cards/adding new cards. Current Card Index is Reset to 0"
I want to dynamically add cards. when merging like in the example:
[code]
After concat I get shown the first card of cards1 array. How to preserve the current card and aggregate cards?

[2017-11-24 02:43] kay-es commented on #115
the lib concats the new cards itself. this should be working:

[code]

[2017-11-26 21:37] kay-es opened #116 "Swipe not reacting on yup, nope and maybe positions"
Hey guys,

I noticed, that the swiper is not reacting on the positions in which the yup, nope and maybe text/component are rendered. I think this happens because the three components are absolute. Is there any workaround?

[2017-12-05 14:25] roots-ai commented on #74
Were you able to solve this?

[2017-12-28 11:11] ganlub opened #118 "Is this repo maintained anymore?"
First of all, thanks for your time and contribution to the community!

If it isn't maintained any longer, can you put it on the Readme? Perhaps this way a good soul could take care of it.

[2018-01-04 15:29] RamonAcedoM commented on #109
@ellismarte Care to elaborate?

[2018-01-11 20:55] jose920405 opened #119 "Each child Warning"
When i active `stack` prop the next warning appears

`Each child in an array or iterator should have a unique "key" prop.`

i'm think that the warning could be fixed here `<Card {...cardData} />`

so.. i put

`<View key={this.props.backgroundColor} style={[styles.card, { backgroundColor: this.props.backgroundColor }]}>`

But not works

[2018-01-29 22:31] PabloTeari commented on #66
+1

[2018-01-29 22:36] pabloteari commented on #66
I have same problem. Do you have a solution? Thanks guy!

[2018-01-30 02:25] daegloe commented on #119
Make sure that the `cardData` object has a property `key` that is unique for each card.

You don't need that `key` attribute on the `View`.

[2018-01-30 02:27] daegloe commented on #48
This is a very old thread. But has anyone solved this issue?

[2018-02-02 06:01] inglesuniversal opened #120 "Awesome script... Now, how can I make it loop in the same order (endlessly) ?"
Thanks for your help.

HB

[2018-02-02 06:04] inglesuniversal commented on #120
Oops... Just found the answer...

loop={true}

Thanks!

[2018-02-02 17:50] RyanWarner commented on #112
I'm also curious to know how to do this. Is it possible to update or change the cards after initial render?

[2018-02-06 18:21] rklerck opened #121 "Previous image is visible for a short moment when using image url's"
When I use image url's instead of static images, the previous image is visible for a short moment till the next image is loaded. Especially with large images of course. How can I fix this?

[2018-02-07 03:45] juliofalbo opened #122 "Index of Rendered Card"
How can I retrieve the index of the card that was returned in the renderCard method?

[2018-02-08 21:20] lolobosse commented on #66
Hey @PabloTeari, have a look at my [fork](https://github.com/lolobosse/react-native-tinder-swipe-cards/). I have it somehow working (but it's one year ago).

It's working in prod (JobNinja in Play Store and App Store).

I guess that I added sort of `container_width`.

I have that code in prod:

[code]

[code]

Hope that it can bring you a bit further. I didn't follow the newest features of the lib

[2018-02-11 01:28] claytonpiccinin commented on #101
Thanks @ahmedabadie... setting  smoothTransition={true}  solved this issue.

[2018-02-11 02:29] claytonpiccinin commented on #53
+1

[2018-02-12 05:11] daegloe commented on #121
See https://github.com/meteor-factory/react-native-tinder-swipe-cards/issues/119#issuecomment-361456058

[2018-02-25 11:11] #86 closed

[2018-02-26 08:40] dviramontes opened #124 "android support ?"
Hi wondering if this component work on android ?

[2018-03-04 14:29] AishwaryaSurana opened #125 "Show previous card on left to right swipe"
Is it possible to show previous card on swiping from left to right. As even if I am decrementing the value for index always the next card is shown which is there at the next index of the array.

[code]

[2018-03-13 02:25] scrodrig opened #126 "How to change View Background"
The principal View ask for some functions and cards like :

[code]

How could I change BGColor after a renderYup call, was trying with state in the functions changing it value for a prop but it does not work

Any idea?

[2018-03-27 06:02] dhuma1981 opened #127 "Undo the removed the card"
Is there any method by which we can undo the removed card?

[2018-03-27 12:15] matsossah commented on #100
hello @appsciences and @jkomyno , did you find a solution?  I have the same problem :/ Thanks!

[2018-04-04 19:24] mcmatan commented on #66
@lolobosse  Didn't work great for me, hade some issues, if anyone is facing the same problem I've fixed it at the fork: https://github.com/mcmatan/react-native-tinder-swipe-cards (StackX, StackY)

[2018-04-04 19:41] mcmatan commented on #66
@lolobosse Fork hade some issues for me, I've create my own one here: https://github.com/mcmatan/react-native-tinder-swipe-cards
Just changed the calculation, and you can user stackX and stackY to center your cards

[2018-04-05 08:55] lolobosse commented on #66
@mcmatan Cool that you worked it out :) Maybe I've done some overcomplicated stuff indeed but I'm glad you have something working

[2018-04-13 05:52] austinyearlykim commented on #66
this saved me; ive been trying to center this thing for hours. thank you @mcmatan && @lolobosse

[2018-06-08 21:09] jonathanRinciari opened #130 "React-Native-Swipeable-Cards, Forked & Updated"
I had a lot of issues with gettings this to work, so I forked and credited meteor-factory but will be maintaining it at react-native-swipeable-cards. If you have requests or need help post there unless meteor wants to continue maintaining this

[2018-06-09 12:36] jonathanRinciari commented on #127
_goToPrevCard()

which can be accessed by creating a ref on the SwiperCard component..
`<SwiperCard ref={(swiper) => this.swiper = swiper}/>`

Then you can do something like

`<Button onPress={() => this.swiper._goToPrevCard()}/>`

[2018-06-09 12:38] jonathanRinciari commented on #126
Haven't tried this but I have an updated version where a container style prop can be passed in. which will allow you to customize it from the parent component

[2018-06-09 12:42] jonathanRinciari commented on #121
I had a similar issue since I keep the card stack at 5, and after each swipe i remove the swiped card, and than add a new card onto the end of the array. This was causing some issues with the keys since the default way is using index. I made some changes to this library and pushed it to npm under the name react-native-swipeable-cards. One of the changes I made was adding a keyGenerator which you c

[2018-07-10 22:29] kimellexi commented on #104
Did you find out?

[2018-08-10 14:54] jeveloper commented on #130
can you post a link to you repo please ?

thanks

[2018-12-10 20:41] dengue8830 commented on #68
@stantoncbradley could you paste it here?

[2018-12-10 20:50] dengue8830 opened #135 "bug swipe animation when adding new cards after renderNoMoreCards"
first load cards

![image](https://user-images.githubusercontent.com/5104213/49760700-df3d3780-fca3-11e8-8989-4e9a3a1715af.png)

adding cards after renderNoMoreCards shows
![image](https://user-images.githubusercontent.com/5104213/49760485-5e7e3b80-fca3-11e8-8b74-30ced35bff78.png)

my code

[code]

[2018-12-10 21:00] dengue8830 commented on #135
temporally fixed forcing a unmount/mount with a second state

[code]

[2018-12-10 21:08] dengue8830 commented on #135
better solution: reset the buggy state

[code]

[2018-12-18 20:16] dengue8830 commented on #62
@jlc467 it doesn't work for me, have you a complete example?

[2018-12-18 20:16] dengue8830 commented on #104
but buttons cannot be pressed, im trying to unify the problem

#100 #95 #62

[2019-01-01 16:30] sebinator opened #136 "force swipe with buttons"
Hello everyone,
is there a way to force a left/right swipe by using a custom function?
I would like to be able to none only use the swipe left or right, but also give the option to do so by taping a "yes" or "no" button.
Thanks

[2019-02-17 23:02] SuttonKyle commented on #136
I've found that if you create a ref in your constructor, like:
```this.swipeCardRef = React.createRef()```
Then include `ref={this.swipeCardRef}` in the props to your SwipeCards component, you can call `this.swipeCardRef.current._forceRightSwipe()` and `this.swipeCardRef.current._forceLeftSwipe()` in your onPress functions to force the swipe animation

[2019-03-02 00:37] michallapkowski commented on #136
Hey @SuttonKyle

Can you shed more light?

I have the following:
[code]
And I get the TypeError: TypeError: null is not an object (evaluating 'this.swipeCardRef.current._forceRightSwipe')

Can you help?

[2019-03-02 01:38] SuttonKyle commented on #136
Your code right now is calling the method on load instead of onPress.  Try replacing `{this.swipeCardRef.current._forceRightSwipe()}` with `{() => this.swipeCardRef.current._forceRightSwipe()}`

Also, I forgot to mention that this will only show the animation, and won't actually call the `handleYup` function, so you will have to manually call that within the button as well.  You may also need a wa

[2019-03-04 16:33] elizathescheisse commented on #104
Why is this closed if it was never resolved? Is there a way to pass additional props (of my choosing) to my card component?

[2019-10-10 13:28] #82 closed

[2019-10-17 19:05] sleroy commented on #135
Thanks!

[2019-11-18 09:25] talsibony opened #137 "componentWillReceiveProps de"
I get the following warning:
WARN  Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.
Please update the following components: SwipeCards

[2019-12-12 08:06] #85 closed

[2020-01-17 01:12] pabloteari commented on #136
That worked! Thanks

[2020-01-17 08:39] infazA opened #138 "Swipe cards inside Scroll view"
I want to have Swipes cards inside Scrollview.
Example : User should be able to scroll the list of swipable cards and swipe to left or right.

[2020-02-25 19:05] kharlm opened #139 "ShowYup at the bottom of the screen"
I'm having an issue where my showYup and showNope appear at the top of the screen off the edge of it. How can I show these values at the bottom of the screen instead?

[2020-04-26 04:54] tonyfung99 commented on #138
@infazA would like to see have you found any library that fits your use case?
Thanks

[2020-05-30 18:30] FeminaBrahmbhatt opened #140 "'Animated: `useNativeDriver` was not specified."
'Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`', '\n    in SwipeCards

[2020-05-30 18:34] FeminaBrahmbhatt opened #141 "while swipping a card left or right all the cards are swipped together"
while swipping a card left or right all the cards are swipped together, that means all cards are removed with one swipe.

[2020-05-31 11:13] FeminaBrahmbhatt commented on #39
having same issue in version 0.1.1 @maluramichael

I tried this way and it is working

componentWillReceiveProps(nextProps) {
    if (nextProps.cards && nextProps.cards.length > 0 && nextProps.cards !== this.props.cards) {

[2020-08-16 17:01] alhabibhasan commented on #140
@FeminaBrahmbhatt Did you manage to hide the warning?

[2020-09-15 07:53] eyalyoli commented on #140
my PR #144 fixes this

[2020-09-15 07:58] eyalyoli commented on #138
It is not the best UX design practice, but the `dragY=false` should make the cards swipeable only horizontally thus giving the option for a scrolling parent. When I tested `dragY=false` it didn't work as I described...
Try it and let me know if you have the same problem with `dragY=false`.

[2020-09-15 08:00] eyalyoli commented on #139
Check out the parent's styling, something is wrong there. It may be that there isn't enough space for all comps to fit in the parent so you see them at the top...
If you can't fix the parent, you can try to override nopeTextStyle prop with your own style.

[2020-09-15 08:14] eyalyoli commented on #102
react-native-deck-swiper doesn't seem to work ok with Expo & react 0.62, but this project still works.
I am maintaining my own version of the project at https://github.com/eyalyoli/react-native-swipe-cards-deck

[2020-09-15 08:15] eyalyoli commented on #130
https://github.com/jonathanRinciari/React-Native-Swipeable-Cards
but it is also not maintained, I have my own fork at https://github.com/eyalyoli/react-native-swipe-cards-deck

[2020-09-26 02:22] HassenH1 commented on #140
I am getting this warning too
I might wait for the Merge or just Look at @eyalyoli PR and make the changes to  my own lol

'Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`'

[2020-09-26 07:29] eyalyoli commented on #140
It seems the repo is inactive, so I forked my own with the needed fixes:
https://github.com/eyalyoli/react-native-swipe-cards-deck

[2020-10-11 17:18] zeeshaanl commented on #136
How could I bind the current card to the button?

Thanks!

[2020-10-11 19:01] zeeshaanl commented on #136
Figured it out, the card can be referred to using `swipeCardRef.current.state.card`

[2021-08-30 07:49] eyalabs opened #145 "THIS REPO IS DEAD!"
use https://github.com/eyalyoli/react-native-swipe-cards-deck instead

[2022-06-16 20:42] devmanny commented on #145
thanks